<div class="register-form-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="user">Usuario: </label><input type="text" id="user" formControlName="user">
      </div>
      <div class="input-group">
        <label for="email">Email: </label><input type="email" id="email" formControlName="email">
      </div>
      <div class="input-group">
        <label for="password">Contraseña: </label><input type="password" id="password" formControlName="password">
      </div>
      <div class="input-group">
        <label for="confirmPassword">Confirmar Contraseña: </label><input type="password" id="confirmPassword" formControlName="confirmPassword">
      </div>

      <div class="form-btn-group">
        <button type="submit" [disabled]="!signUpForm.valid">Registrarse</button>
      </div>
    </form>
</div>
