:host {
  height: 100%;
  margin-bottom: 3em;
}

.register-form-container {
  height: 100%;
  box-sizing: border-box;
  form {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5em;
    .input-group {
      display: flex;
      flex-direction: column;
    }

    .form-btn-group {
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: 0.5em;
      margin-top: 2em;
      width: 80%;
      max-width: 20em;
    }
  }
}

