:host {
  height: 100%;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .heading-404 {
    font-size: 54pt;
  }
}
