:host {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    height: 30em;
    width: 25em;

    background-color: var(--main-color);
    border-radius: var(--border-radius);

    .logo {
        --size: 7.5em;
        margin-top: 2em;
        width: var(--size);
        height: var(--size);
        background-color: var(--accent-color);
        border-radius: var(--border-radius);
        outline: none;
        border: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--accent-color);

        & > button {
            width: 100%;
            height: 2.5em;
            background-color: transparent;
            border: none;
            font-weight: bold;
            font-size: 14pt;

            &.active {
                background-color: var(--main-color);
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
            }
        }
    }

}