<main class="page-container">
  <header #btnContainer>
    <button (click)="onSignInClicked()">Iniciar Sesión</button>
    <button (click)="onSignUpClicked()">Registrarse</button>
  </header>
  <img class="logo" src="" alt="">
  <ng-template containerHost></ng-template>
</main>
