<div class="login-form-container">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="user">Usuario: </label>
      <input type="text" id="user" formControlName="user" />
    </div>

    <div class="input-group">
      <label for="password">Contraseña: </label>
      <input type="password" id="password" formControlName="password" />
    </div>

    <div class="form-btn-group">
      <button type="submit" [disabled]="!signInForm.valid">
        Iniciar Sesión
      </button>
    </div>
  </form>
</div>
