/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}

body {
  font-family: var(--main-font);
}

:root {
    --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-color: #DBDBDB;
    --accent-color: #C4C4C4;
    --color-1: #B7B7B7;
    --border-radius: 1em;
}

input {
    padding: 0.25em;
    border-radius: 0.5em;
    outline: none;
    border: 1px solid var(--color-1)
}
